.bg-red {
  background-color: #f72210;
}

.navbar-brand svg {
  fill: white;
  display: block;
  width: 132px;
  height: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-toggle .icon-bar {
  width: 50px !important;
  height: 3px !important;
}

.navbar-toggler-icon {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar-member {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
  }
}
