@import "./variables";

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  line-height: 1.5;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color: red;
}

.always-hidden {
  display: none;
}

@media only screen and (max-width: 600px) { 
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid .container-lg .container-md .container-sm .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  main > div > section {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
  }

  main > div > section,
  .featured-stories-div section > div {
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #03030366;
    font-weight: 700;
  }
}
