@import "./variables";

.container-max {
  max-width: 1310px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f4f5f7;
  margin: 0 auto;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color: red;
}

.always-hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid .container-lg .container-md .container-sm .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  main > div > section {
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
  }

  main > div > section,
  .featured-stories-div section > div {
    margin-bottom: 15px;
  }

  .section-title {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #03030366;
    font-weight: 700;
  }

  .section-top {
    position: relative;
  }

  img {
    display: block;
    border: 0;
  }

  article img {
    width: 100%;
  }

  img:not(.initial) {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  img.initial,
  img.loaded,
  img.error {
    opacity: 1;
  }

  img:not([src]) {
    visibility: hidden;
  }

  a {
    color: black;
  }

  .category {
    position: absolute;
    bottom: 0;
    padding: 7px 17px;
    background-color: #ffffffe6;
    color: black;
  }

  .category-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 700;
    color: #f72210;
    text-transform: uppercase;
  }

  .section-headline a:hover {
    text-decoration: underline #f72210;
  }

  .section-headline h2 {
    margin-top: 15px;
    font-size: 1.4em;
    font-weight: bolder;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .sumary-paragraph {
    font-size: 0.79rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.7rem;
  }

  .opinion-div article {
    height: -moz-fit-content;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .opinion-article-text p {
    text-transform: uppercase;
    color: #555;
    font-size: 0.9rem;
    margin: 0;
  }

  .opinion-article-text *,
  .bottom-menu * {
    font-size: 1rem;
    font-weight: 700;
  }
}
