@import "./variables";

.footer-logo {
  width: 236px;
}

.footer-logo svg {
  fill: $redBg;
}

.genericon {
  display: inline-block;
  color: #666;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 15px;
}

.genericon-facebook:hover {
  color: #3b5998;
}

.genericon-twitter:hover {
  color: #1da1f2;
}

.genericon-instagram {
  font-size: 23px;
}

.genericon-instagram:hover {
  color: #1da1f2;
}

.genericon-tumblr {
  font-size: 20px;
}

.genericon-tumblr:hover {
  color: #35465c;
}

.genericon-linkedin:hover {
  color: #0077b5;
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: $whiteColor;
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid $grayTopBorder;
  }

  .footer-top {
    border-bottom: 1px solid $grayBottomBorder;
  }

  .footer-logo {
    width: 236px;
  }

  .footer-bottom {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer-bottom .footer-editions {
    margin-top: 10px;
    display: inline-block;
  }

  .footer-bottom .footer-editions strong {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    color: $footerText;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer-bottom .footer-editions a,
  .footer-bottom .footer-links a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 3px 20px 3px 0;
    display: inline-block;
    color: $footerText;
  }

  .footer-bottom .footer-links {
    display: inline-block;
  }

  .footer-icons {
    justify-content: flex-start;
  }
}