.genericon {
  display: inline-block;
  color: #666;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 15px;
}

.genericon-facebook:hover {
  color: #3b5998;
}

.genericon-twitter:hover {
  color: #1da1f2;
}

.genericon-instagram {
  font-size: 23px;
}

.genericon-instagram:hover {
  color: #1da1f2;
}

.genericon-tumblr {
  font-size: 20px;
}

.genericon-tumblr:hover {
  color: #35465c;
}

.genericon-linkedin:hover {
  color: #0077b5;
}

@media only screen and (max-width: 600px) { 

}