@import "./variables";

.navbar-brand svg {
  fill: white;
  display: block;
  width: 132px;
  height: 20px;
}

.navbar-toggle .icon-bar {
  width: 50px !important;
  height: 3px !important;
}

.navbar-toggler-icon {
  width: 10px;
  height: 10px;
}

.navbar-toggler {
  border: none;
  display: block;
  background: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem !important;
  }

  .navbar-member {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      cursor: pointer;
    }

    a:first-child {
      color: #fff;
      margin: 0 5px;
    }
  }

  .subscribe {
    background-color: #fff;
    color: $redBg;
    padding: 6px 3px;
    margin: 0 5px;
    line-height: 0.9;
  }

  .subscribe svg {
    width: 8px;
    fill: #f72210;
    margin-left: 7px;
  }

  .icon-menu {
    padding: 10px;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #fb9a94;
    width: 26px;
  }
}

@media (min-width: 992px) {
  .navbar-right a:first-child {
    margin-top: 4px;
  }

  .last-magazine-article:last-child {
    margin-top: -10px;
  }

  .subscribe {
    padding: 4px 7px;
  }

  .subscribe svg {
    margin-left: 12px;
  }

  .search-content {
    position: absolute;
    right: 79px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .search-content .search {
    border: none;
    width: 60px;
    height: 54px;
    font-weight: normal;
    margin-right: 22px;
    font-size: 20px;
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    outline: none;
  }

  .search-content .search:focus {
    width: 100%;
  }

  .search-content label {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
  }

  *,
  .see-all-features {
    font-size: 16px;
  }

  .latest-news {
    top: -150px;
  }

  .sticky-left {
    top: -112px;
  }

  nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .weather-widget {
    margin-right: 0 !important;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .navbar-brand svg {
    width: 396px;
  }

  .first-row .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
  }

  .first-row .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41%;
    flex: 0 0 41%;
    max-width: 41%;
  }

  .first-article-magazine {
    top: 0;
  }

  .newsletter-img {
    height: 306px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .newsletter-content {
    height: 308px;
  }

  .text-newsletter {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
