@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "./variables";
@import "./body";
@import "./navbar";
@import "./footer";

header {
  background-color: $redBg;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}
