@import "./body";

$redBg: #f72210;

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color: red;
}

.bg-red {
  background-color: $redBg;
}

.navbar-brand svg {
  fill: white;
  display: block;
  width: 132px;
  height: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-toggle .icon-bar {
  width: 50px !important;
  height: 3px !important;
}

.navbar-toggler-icon {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem !important;
  }

  .navbar-member {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:first-child {
      color: #fff;
      margin: 0 5px;
    }
  }

  .subscribe {
    background-color: #fff;
    color: $redBg;
    padding: 6px 3px;
    margin: 0 5px;
  }
}
