@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
.article-ribbon {
  padding: 4px 10px;
  background: white;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: #f72210;
  text-transform: uppercase;
}

.article-ribbon:hover {
  text-decoration: none;
  color: #f72210;
}

.country-name::after,
.sign-up .sign-up-link::after,
.see-all-features::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
}

footer > p {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 12px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe-section p {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5;
}

.magazine-article div {
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0;
}

.subscribe-section div {
  background: #f4f5f6;
}

.newsletter-section > div {
  border: 1px solid #ebebeb;
}

main > div > section,
.featured-stories-div section > div {
  margin-bottom: 20px;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  display: block;
  border: 0;
  opacity: 0;
}

article img {
  width: 100%;
}

img:not(.initial) {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

header {
  background-color: #f72210;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  background-color: #f4f5f7;
  max-width: 1310px;
  margin: 0 auto;
}

main > div > section {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.hidden {
  display: none;
}

.container-max {
  max-width: 1310px;
}

.section-divisor {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  padding-top: 20px;
  margin: 15px;
  height: 1px;
}

.divs-divisor {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 25px;
}

.always-hidden {
  display: none;
}

/* BOOTSTRAP */
.row,
.container {
  margin-left: 0;
  margin-right: 0;
}

.section-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #03030366;
  font-weight: 700;
}

.section-top {
  position: relative;
}

.category {
  position: absolute;
  bottom: 0;
  padding: 7px 17px;
  background-color: #ffffffe6;
  color: black;
}

.category-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #f72210;
  text-transform: uppercase;
}

.section-headline h2 {
  margin-top: 15px;
  font-size: 1.3em;
  font-weight: 700;
  color: #000;
}

.sumary-paragraph {
  font-size: 0.79rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* WORKING ON OPINION */
.opinion-div article {
  height: -moz-fit-content;
  padding-top: 10px;
  margin-bottom: 10px;
}

.latest-news article,
.small-links article {
  padding: 10px 0;
}

.in-the-magazine > article {
  position: relative;
}

.opinion-div section article + article {
  -webkit-box-shadow: 0 -1px 0 0 grey;
  box-shadow: 0 -1px 0 0 grey;
}

.opinion-article-img,
.debate-author img {
  height: 63px;
  width: auto;
}

.opinion-article-text *,
.bottom-menu * {
  font-size: 1rem;
  font-weight: 700;
}

.bottom-menu {
  position: relative;
}

.bottom-menu::before {
  position: absolute;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  width: 66px;
  top: -1px;
}

.bottom-menu ul {
  background: #fff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  padding-right: 160px;
  border-bottom: 2px solid #f4f5f6;
}

.bottom-menu ul li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  text-transform: capitalize !important;
}

.bottom-menu ul li ~ li {
  border-left: 1px solid #d9d9d9;
}

.opinion-article-text p {
  text-transform: uppercase;
  color: #555;
  font-size: 0.9rem;
  margin: 0;
}

/* WORKING ON DEBATE */
.debate-text-n-img {
  border-top: 4px solid tomato;
  padding-top: 1px;
}

.debate-text-n-img img {
  height: 95px;
  width: auto;
}

.debate-text-n-img h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 15px;
}

.debate-text-n-img:nth-child(4) {
  border-top: 4px solid #1c87fb;
}

.debate-author span {
  border-top: 1px solid #0000003d;
  display: block;
  border-bottom: 1px solid #0000003d;
  height: 3px;
}

.debate-author img {
  top: -12px;
  right: 0;
}

.vs-div {
  background: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  font-size: 23px;
}

/* WORKING MORE STORIES */
.more-stories-div {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 10px;
}

.more-stories-div img {
  float: left;
  margin-right: 10px;
}

.more-stories-div h3 {
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
}

.more-stories-div p {
  font-size: 0.9rem;
}

/* WORKING ON CULTURE AND TRAVEL */
.culture-article p {
  color: #27272780;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
}

.culture-ribbon {
  bottom: 0;
  padding: 0 9px;
  background: #c2d4d7;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.culture-ribbon:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.culture-title h3 {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
}

/* WORKING ON LATEST NEWS SECTION */
.latest-news article:not(:last-child),
.small-links article:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.latest-news article img,
.small-links article img {
  width: auto;
}

/* WORKING ON SIGNUP */
.sign-up .sign-up-link {
  background-color: #666;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.sign-up .sign-up-link:hover {
  background-color: #888;
}

.icon-news {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
  position: relative;
}

.sign-up-box {
  width: 260px;
  padding: 20px;
  background: #f4f5f6;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}

.sign-up-box > *:not(:last-child) {
  margin-bottom: 20px;
}

.sign-up-box:last-child {
  font-weight: 700;
}

.middle {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

/* WORKING IN THE MAGAZINE */
.see-all-features {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 700;
  background-color: #f4f5f6;
  font-size: 16px;
  padding: 5px;
}

.see-all-features::after {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
}

.see-all-features:hover {
  background-color: #b9b9b9;
}

.text-underline:hover {
  -webkit-text-decoration: underline #f72210;
  text-decoration: underline #f72210;
}

.magazine-article {
  margin-bottom: 20px;
}

.magazine-article div p {
  background-color: #f72210;
  color: white;
  padding: 0 7px;
  margin-right: 10px;
  margin-bottom: 0;
}

.magazine-article .magazine-link {
  font-weight: 700;
}

.infocus {
  padding: 1px 5px;
  background-color: #f72210;
  color: white !important;
  bottom: 0;
}

.last-magazine-article:last-child {
  text-transform: uppercase;
}

.grey {
  color: #333;
}

/* WORKING ON FEATURED SLIDESHOWS */
.featured-slideshows h3 .icon-news::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.featured-ribbon {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #f72210;
}

/* WORKING ON GENERAL CATEGORIES */
.general-categorie .section-title,
.subscribe-section .section-title,
.newsletter-section .section-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #f72210;
  font-weight: 700;
}

.first-img-category {
  width: 95px !important;
  height: 63.5px;
}

/* WORKING ON SUBSCRIBE Section */
.subscribe-section,
.newsletter-section {
  padding: 15px;
}

.subscribe-section h4,
.newsletter-section h4 {
  margin-top: 20px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 90%;
}

.two-images {
  margin: 20px 20px;
  position: relative;
  margin-left: -52px;
}

.first-img {
  margin: 0 88px;
}

.second-img {
  position: absolute;
  top: 13px;
  left: 170px;
  margin: 0 auto;
}

.subscribe-section-link {
  padding: 10px 10px 10px 12px;
  color: white;
  text-transform: uppercase;
  background-color: #f72210;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.subscribe-section-link::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
}

.subscribe-section-link:hover {
  background-color: #de1f0e;
  color: white;
}

/* WORKING ON NEWSWEEK */
.newsletter-section {
  background-color: #fff;
  margin-bottom: 20px;
}

.newsletter-img {
  background: rgba(0, 0, 0, 0) url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") no-repeat scroll center center/cover !important;
  width: 100%;
  height: 160px;
}

a {
  color: black;
}

@media only screen and (max-width: 600px) {
  .opinion-div article {
    height: -moz-fit-content;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .opinion-article-img,
  .debate-author img {
    height: 63px;
    width: auto;
  }
}

.weather-widget {
  color: white;
  font: 15px/34px "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.first-article-image-content {
  position: relative;
}

.date {
  font-weight: 400;
}

.country-name::after {
  width: 11px;
  height: 12px;
  margin-left: 6px;
}

.navbar-right {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.navbar-right > a {
  font-size: 14px;
}

.magazine-article div a {
  color: #f72210;
}

.more-stories-div a:hover,
.culture-title:hover,
.text-underline:hover {
  color: black;
}

.navbar-right > a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-right a:first-child {
  color: #fff;
}

.section-headline a:hover {
  -webkit-text-decoration: underline #f72210;
  text-decoration: underline #f72210;
}

.font-size-20 {
  font-size: 20px !important;
}

.opinion-article-text a:hover,
.font-size-20:hover {
  color: #f72210;
  text-decoration: none;
}

.more-stories-div a:hover {
  -webkit-text-decoration: underline #f72210;
  text-decoration: underline #f72210;
}

.footer-editions .menu a,
.footer-editions .second-div a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 3px 20px 3px 0;
  display: inline-block;
  color: #666;
}

.navbar-right > a:last-child:hover {
  color: #f72210;
}

.brand svg {
  width: 131px;
  fill: #fff;
}

.subscribe {
  background: #fff;
  color: #f72210;
  margin: 0 5px;
  padding: 6px 3px;
  line-height: 0.9;
}

.subscribe svg {
  width: 8px;
  fill: #f72210;
  margin-left: 7px;
}

.icon-menu {
  padding: 10px;
  cursor: pointer;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #fb9a94;
  width: 26px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem !important;
  }
  .navbar-brand svg {
    fill: white;
    display: block;
    width: 132px;
    height: 20px;
  }
  .navbar-toggle .icon-bar {
    width: 50px !important;
    height: 3px !important;
  }
  .navbar-toggler-icon {
    width: 10px;
    height: 10px;
  }
  .navbar-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-member a {
    cursor: pointer;
  }
  .navbar-member a:first-child {
    color: #fff;
    margin: 0 5px;
  }
  .subscribe {
    background-color: #fff;
    color: #f72210;
    padding: 6px 3px;
    margin: 0 5px;
    line-height: 0.9;
  }
  .subscribe svg {
    width: 8px;
    fill: #f72210;
    margin-left: 7px;
  }
  .icon-menu {
    padding: 10px;
    cursor: pointer;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #fb9a94;
    width: 26px;
  }
}

@media (min-width: 992px) {
  .navbar-right a:first-child {
    margin-top: 4px;
  }
  .last-magazine-article:last-child {
    margin-top: -10px;
  }
  .subscribe {
    padding: 4px 7px;
  }
  .subscribe svg {
    margin-left: 12px;
  }
  .search-content {
    position: absolute;
    right: 79px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .search-content .search {
    border: none;
    width: 60px;
    height: 54px;
    font-weight: normal;
    margin-right: 22px;
    font-size: 20px;
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    outline: none;
  }
  .search-content .search:focus {
    width: 100%;
  }
  .search-content label {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
  }
  *,
  .see-all-features {
    font-size: 16px;
  }
  .latest-news {
    top: -150px;
  }
  .sticky-left {
    top: -112px;
  }
  nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .weather-widget {
    margin-right: 0 !important;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .navbar-brand svg {
    width: 396px;
  }
  .first-row .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
  }
  .first-row .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41%;
    flex: 0 0 41%;
    max-width: 41%;
  }
  .first-article-magazine {
    top: 0;
  }
  .newsletter-img {
    height: 306px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .newsletter-content {
    height: 308px;
  }
  .text-newsletter {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

footer {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 25px;
  border-top: 1px solid #f4f5f6;
}

.footer-logo {
  width: 236px;
}

.footer-logo svg {
  fill: #f72210;
}

.footer-top {
  border-bottom: 1px solid #d9d9d9;
}

.genericon {
  display: inline-block;
  color: #666;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 15px;
}

.genericon-facebook:hover {
  color: #3b5998;
}

.genericon-twitter:hover {
  color: #1da1f2;
}

.genericon-instagram {
  font-size: 23px;
}

.genericon-instagram:hover {
  color: #1da1f2;
}

.genericon-tumblr {
  font-size: 20px;
}

.genericon-tumblr:hover {
  color: #35465c;
}

.genericon-linkedin:hover {
  color: #0077b5;
}

.footer-editions {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-editions .menu {
  margin-top: 10px;
}

.footer-editions .menu strong {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-editions .second-div,
.footer-editions .menu {
  display: inline-block;
}

.footer-editions .second-div a:hover,
.footer-editions .menu a:hover {
  color: black;
}

@media only screen and (max-width: 600px) {
  .c-r {
    border-top: 4px solid #f92859;
    padding-top: 10px;
    padding-bottom: 4px;
  }
  .c-b {
    border-bottom: 4px solid #1c87fb;
    padding-bottom: 12px;
  }
  .debate-author-text a h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 15px;
  }
  .debate-author-text p {
    color: black;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-left: 15px;
  }
  .debate-author-text p a {
    font-weight: 700;
  }
  .debate .vs-div {
    position: relative;
  }
  .debate .vs-div::before {
    top: calc(50% - 2px);
  }
  .debate .vs-div::after {
    top: 50%;
  }
  .debate .vs-div::after,
  .debate .vs-div::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .debate .c-vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed", sans-serif;
    text-align: center;
  }
}

header {
  background-color: #f72210;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

@media (min-width: 638px) {
  nav .hidden {
    display: block;
  }
}

@media (min-width: 768px) {
  main > div > section {
    border: none;
  }
  .sticky-left {
    top: -176px;
  }
  .border-title {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;
    width: 97.5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .sign-up-box {
    width: 300px;
  }
  .genericon {
    margin-bottom: 0;
  }
  body {
    background: #fff;
  }
  .culture-article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
  }
  .magazine-article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .magazine-article a picture {
    display: block;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
  }
  .magazine-article a picture img {
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
  }
  .see-all-features {
    font-size: 16px;
  }
  .magazine-link {
    font-size: 20px;
  }
  .article-ribbon {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .first-article-magazine {
    position: relative;
    top: 0;
  }
  .general-categorie article div > article {
    padding-top: 10px;
  }
  main > .section-divisor {
    width: 100%;
    margin: 0;
  }
  .two-images {
    -webkit-transform: translateX(33%);
    transform: translateX(33%);
    margin-right: 90px;
  }
  .two-images .first-img {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    margin-left: 0;
  }
  .two-images .second-img {
    left: 50px;
  }
  .subscribe-section h4,
  .newsletter-section h4 {
    text-align: left;
  }
  .subscribe-section,
  .newsletter-section {
    border-bottom: 0;
  }
  .newsletter-img {
    width: 191px;
    height: 191px;
  }
  .navbar-fixed {
    position: fixed;
    top: -2;
    z-index: 200000;
    left: 0;
    background-color: #f72210;
    width: 100%;
    height: 50px;
    margin-top: -11px;
    padding-bottom: 40px !important;
  }
  .navbar-fixed .brand {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: unset;
    -webkit-transform: none;
            transform: none;
  }
  .navbar-fixed .date {
    display: none !important;
  }
  .navbar-fixed .brand svg {
    width: 131px;
  }
  .navbar-fixed .weather-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .padding-100 {
    padding-top: 80px;
    display: block;
    width: 100%;
    height: 1px;
  }
}

@media (min-width: 992px) {
  .padding-100 {
    padding-top: 100px;
    display: block;
    width: 100%;
    height: 1px;
  }
  html {
    background: #f4f5f6;
  }
  .navbar-right a:first-child {
    margin-top: 4px;
  }
  .last-magazine-article:last-child {
    margin-top: -10px;
  }
  .subscribe {
    padding: 4px 7px;
  }
  .subscribe svg {
    margin-left: 12px;
  }
  .search-content {
    position: absolute;
    right: 79px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .search-content .search {
    border: none;
    width: 60px;
    height: 54px;
    font-weight: normal;
    margin-right: 22px;
    font-size: 20px;
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    outline: none;
  }
  .search-content .search:focus {
    width: 100%;
  }
  .search-content label {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
  }
  *,
  .see-all-features {
    font-size: 16px;
  }
  .latest-news {
    top: -150px;
  }
  .sticky-left {
    top: -112px;
  }
  nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .weather-widget {
    margin-right: 0 !important;
  }
  .brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .brand svg {
    width: 396px;
  }
  .first-row .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
  }
  .first-row .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41%;
    flex: 0 0 41%;
    max-width: 41%;
  }
  .first-article-magazine {
    top: 0;
  }
  .newsletter-img {
    height: 306px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .newsletter-content {
    height: 308px;
  }
  .text-newsletter {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */