@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "./variables";
@import "./body";
@import "./opinion";
@import "./navbar";
@import "./footer";
@import "./debate";

header {
  background-color: $redBg;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

@media (min-width: 638px) {
  nav .hidden {
    display: block;
  }
}

@media (min-width: 768px) {
  main > div > section {
    border: none;
  }

  .sticky-left {
    top: -176px;
  }

  .border-title {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;
    width: 97.5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sign-up-box {
    width: 300px;
  }

  .genericon {
    margin-bottom: 0;
  }

  body {
    background: #fff;
  }

  .culture-article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
  }

  .magazine-article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .magazine-article a picture {
    display: block;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .magazine-article a picture img {
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
  }

  .see-all-features {
    font-size: 16px;
  }

  .magazine-link {
    font-size: 20px;
  }

  .article-ribbon {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .first-article-magazine {
    position: relative;
    top: 0;
  }

  .general-categorie article div > article {
    padding-top: 10px;
  }

  main > .section-divisor {
    width: 100%;
    margin: 0;
  }

  .two-images {
    -webkit-transform: translateX(33%);
    transform: translateX(33%);
    margin-right: 90px;
  }

  .two-images .first-img {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    margin-left: 0;
  }

  .two-images .second-img {
    left: 50px;
  }

  .subscribe-section h4,
  .newsletter-section h4 {
    text-align: left;
  }

  .subscribe-section,
  .newsletter-section {
    border-bottom: 0;
  }

  .newsletter-img {
    width: 191px;
    height: 191px;
  }

  .navbar-fixed {
    position: fixed;
    top: -2;
    z-index: 200000;
    left: 0;
    background-color: #f72210;
    width: 100%;
    height: 50px;
    margin-top: -11px;
    padding-bottom: 40px !important;
  }

  .navbar-fixed .brand {
    order: 0;
    position: unset;
    transform: none;
  }

  .navbar-fixed .date {
    display: none !important;
  }

  .navbar-fixed .brand svg {
    width: 131px;
  }

  .navbar-fixed .weather-container {
    display: flex;
    flex-direction: row !important;
  }

  .padding-100 {
    padding-top: 80px;
    display: block;
    width: 100%;
    height: 1px;
  }
}

@media (min-width: 992px) {
  .padding-100 {
    padding-top: 100px;
    display: block;
    width: 100%;
    height: 1px;
  }

  html {
    background: #f4f5f6;
  }

  .navbar-right a:first-child {
    margin-top: 4px;
  }

  .last-magazine-article:last-child {
    margin-top: -10px;
  }

  .subscribe {
    padding: 4px 7px;
  }

  .subscribe svg {
    margin-left: 12px;
  }

  .search-content {
    position: absolute;
    right: 79px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .search-content .search {
    border: none;
    width: 60px;
    height: 54px;
    font-weight: normal;
    margin-right: 22px;
    font-size: 20px;
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    outline: none;
  }

  .search-content .search:focus {
    width: 100%;
  }

  .search-content label {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
  }

  *,
  .see-all-features {
    font-size: 16px;
  }

  .latest-news {
    top: -150px;
  }

  .sticky-left {
    top: -112px;
  }

  nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .weather-widget {
    margin-right: 0 !important;
  }

  .brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .brand svg {
    width: 396px;
  }

  .first-row .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
  }

  .first-row .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41%;
    flex: 0 0 41%;
    max-width: 41%;
  }

  .first-article-magazine {
    top: 0;
  }

  .newsletter-img {
    height: 306px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .newsletter-content {
    height: 308px;
  }

  .text-newsletter {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
